# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Uploads
uploads/
backend/uploads/

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python venv
venv/
.venv/
env/